<template>
  <div>
    <h1>Бизнес-правила</h1>
    <div class="rules">
      <div class="rule" v-for="(item, i) in rules" :key="i">
        <div class="rule__inner">
          <div class="rule__status">
            <a-checkbox :checked="item.checked" v-model="item.checked" />
          </div>
          <div class="rule__body">
            <h2>{{ item.title }}</h2>
            <h4>{{ item.source }}</h4>
            <p>{{ item.description }}</p>
          </div>
          <div class="rule__footer" style="margin-bottom: auto">
            <router-link :to="`/rules/edit/${item.id}`" class="edit"
              >Подробнее</router-link
            >
          </div>
        </div>
      </div>
      <div class="rule new-rule" @click="addModal = true">
        <a-icon type="plus" />
      </div>
    </div>
    <a-modal
      title="Добавить новое правило"
      width="720px"
      v-model="addModal"
      @ok="addRule"
      @cancel="cancel"
      okText="Добавить"
      cancelText="Отмена"
    >
      <a-input v-model="newRule.title" placeholder="Название"></a-input>
      <a-select
        v-model="newRule.source"
        defaultValue="OSA"
        style="width: 100%; margin: 10px 0"
      >
        <a-select-option value="OSA">OSA</a-select-option>
        <a-select-option value="CV">CV</a-select-option>
        <a-select-option value="Другое">Другое</a-select-option>
      </a-select>
      <a-textarea
        v-model="newRule.description"
        placeholder="Описание"
        :rows="4"
      ></a-textarea>
    </a-modal>
  </div>
</template>
<script>
export default {
  data() {
    return {
      rules: this.$store.state.rules.rules,
      addModal: false,
      newRule: {
        title: null,
        source: "OSA",
        description: null
      }
    };
  },
  methods: {
    addRule() {
      this.rules.push({
        id: this.rules.length + 1,
        title: this.newRule.title,
        trigger: "?",
        solution: "?",
        source: this.newRule.source,
        description: this.newRule.description,
        checked: false,
        centerX: 1024,
        centerY: 140,
        scale: 1,
        nodes: [],
        links: []
      });
      this.addModal = false;
    },
    cancel() {
      this.addModal = false;
      this.newRule = {
        title: null,
        trigger: null,
        solution: null,
        source: null,
        description: null
      };
    }
  }
};
</script>
<style lang="scss">
.rules {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 380px);
  grid-gap: 30px;
}
.rule {
  width: 100%;
  height: 380px;
  background-color: #f4f4f4;
  border-radius: 16px;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__body {
    padding: 20px;
  }
  &__trigger,
  &__solution {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c4c4c4;
    text-align: center;
    line-height: 60px;
  }
  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #cccccc;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  &__footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;

    a {
      font-size: 20px;
      color: #000000;
      text-align: center;
      line-height: 50px;
    }
  }
  &__button {
    width: 50%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #333333;
    border-bottom-right-radius: 16px;
    border: none;
    background-color: #c4c4c4;
    font-weight: bold;
    outline: none;
    cursor: pointer;
  }
}
.new-rule {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f4f4f4;
  font-size: 86px;
  font-weight: lighter;
  color: #e3e3e3;
}
</style>
