<template>
  <div class="presets">
    <div class="preset" v-for="(item, i) in presets" :key="i">
      <div class="preset__left">
        <div class="preset__trigger">
          <h4>{{ item.trigger }}</h4>
        </div>
        <div class="preset__solution">
          <h4>{{ item.solution }}</h4>
        </div>
      </div>
      <div class="preset__right">
        <div class="preset__status">
          <a-checkbox :checked="item.checked" v-model="item.checked" />
        </div>
        <div class="preset__body">
          <h2>{{ item.title }}</h2>
          <h4>{{ item.source }}</h4>
          <p>{{ item.description }}</p>
        </div>
        <div class="preset__footer">
          <router-link :to="`/presets/edit/${item.id}`" class="edit"
            >Редактировать</router-link
          >
          <router-link :to="`/presets/watch/${item.id}`" class="preset__button"
            >Просмотр</router-link
          >
        </div>
      </div>
    </div>
    <div class="preset new-preset">
      <a-icon type="plus" style="font-size: 144px" />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      presets: this.$store.state.presets.presets
    };
  }
};
</script>
<style lang="scss">
.presets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40vh 40vh;
  grid-gap: 24px;
}
.preset {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  &__left {
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 20px 0;
  }
  &__right {
    position: relative;
    width: 80%;
    height: 100%;
  }
  &__body {
    padding: 20px;
  }
  &__trigger,
  &__solution {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c4c4c4;
    text-align: center;
    line-height: 60px;
  }
  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #cccccc;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  &__footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }
  &__button {
    width: 50%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #333333;
    border-bottom-right-radius: 16px;
    border: none;
    background-color: #c4c4c4;
    font-weight: bold;
    outline: none;
    cursor: pointer;
  }
}
.new-preset {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #cdcdcd;
}
</style>
