<template>
  <div>
    <a-layout>
      <a-layout-sider
        width="200"
        theme="light"
        style="border-left: 1px solid #ccc"
      >
        <div class="sider__top"></div>
        <div class="sider__divider"></div>
        <div class="sider__bottom"></div>
      </a-layout-sider>
      <a-layout style="min-height: 100vh">
        <simple-flowchart
          :scene.sync="preset"
          style="height: 80%"
        ></simple-flowchart>
        <a-layout-footer style="height: 20%"></a-layout-footer>
      </a-layout>
    </a-layout>
    <div id="stopper" v-if="readOnly"></div>
  </div>
</template>
<script>
import SimpleFlowchart from "@/components/SimpleFlowchart.vue";

export default {
  components: { SimpleFlowchart },
  props: ["readOnly"],
  data() {
    return {
      presetID: this.$route.params.id
    };
  },
  computed: {
    preset() {
      return this.$store.getters.getpreset(this.presetID);
    }
  }
};
</script>
<style lang="scss">
.sider__top,
.sider__bottom {
  height: calc(50% - 0.5px);
}
.sider__divider {
  height: 1px;
  background-color: #cccccc;
}
#stopper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: transparent;
}
</style>
