<template>
  <div
    class="flowchart-node"
    :style="nodeStyle"
    @mousedown="handleMousedown"
    @mouseover="handleMouseOver"
    @mouseleave="handleMouseLeave"
    :class="({ selected: options.selected === id }, type)"
    @click="
      () => {
        this.$emit('nodeClick');
        this.$store.state.rules.attrState = type;
      }
    "
  >
    <div
      class="node-port node-input"
      @mousedown="inputMouseDown"
      @mouseup="inputMouseUp"
    ></div>
    <div class="node-main">
      <!--       <div v-text="type" class="node-type"></div>
 -->
      <img
        v-if="
          type === 'condition' ||
            (type === 'actionRequest' && label === 'sql') ||
            (type === 'actionRequest' && label === 'rpa') ||
            (type === 'actionRequest' && label === 'openapi')
        "
        :src="'/stat/apprules/img/' + label + '.svg'"
        alt=""
        width="64px"
      />
      <div
        v-else-if="type === 'event' && label.match(/[a-z]{1, 12}/) != 'OOSh'"
      >
        <img
          :src="'/stat/apprules/img/' + label + '.svg'"
          alt=""
          width="16px"
        />
        <div>{{ label.match(/[а-яА-ЯА-я]/) }}</div>
      </div>
      <div v-else v-text="label" class="node-label"></div>
    </div>
    <div class="node-port node-output" @mousedown="outputMouseDown"></div>
    <div v-show="show.delete" class="node-delete">&times;</div>
  </div>
</template>

<script>
export default {
  name: "FlowchartNode",
  props: {
    id: {
      type: Number,
      default: 1000,
      validator(val) {
        return typeof val === "number";
      }
    },
    x: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === "number";
      }
    },
    y: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === "number";
      }
    },
    type: {
      type: String,
      default: "Default"
    },
    /* nodeType: {
      type: String,
      default: "action"
    }, */
    label: {
      type: String,
      default: "input name"
    },
    options: {
      type: Object,
      default() {
        return {
          centerX: 1024,
          scale: 1,
          centerY: 140
        };
      }
    }
  },
  data() {
    return {
      show: {
        delete: false
      }
    };
  },
  mounted() {},
  computed: {
    nodeStyle() {
      return {
        top: this.options.centerY + this.y * this.options.scale + "px", // remove: this.options.offsetTop +
        left: this.options.centerX + this.x * this.options.scale + "px", // remove: this.options.offsetLeft +
        transform: `scale(${this.options.scale})`
      };
    }
  },
  methods: {
    handleMousedown(e) {
      const target = e.target || e.srcElement;
      // console.log(target);
      if (
        target.className.indexOf("node-input") < 0 &&
        target.className.indexOf("node-output") < 0
      ) {
        this.$emit("nodeSelected", e);
      }
      e.preventDefault();
    },
    handleMouseOver() {
      this.show.delete = true;
    },
    handleMouseLeave() {
      this.show.delete = false;
    },
    outputMouseDown(e) {
      this.$emit("linkingStart");
      e.preventDefault();
    },
    inputMouseDown(e) {
      e.preventDefault();
    },
    inputMouseUp(e) {
      this.$emit("linkingStop");
      e.preventDefault();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$themeColor: rgb(24, 144, 255);
$portSize: 12;
.flowchart-node {
  margin: 0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  border: none;
  background: white;
  z-index: 1;
  opacity: 0.9;
  cursor: move;
  transform-origin: top left;
  border: 2px solid #595959;
  .node-main {
    text-align: center;
    .node-type {
      background: $themeColor;
      color: white;
      font-size: 13px;
      padding: 6px;
    }
    .node-label {
      font-size: 13px;
    }
  }
  .node-port {
    position: absolute;
    width: #{$portSize}px;
    height: #{$portSize}px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    border-radius: 100px;
    background: white;
    &:hover {
      background: $themeColor;
      border: 1px solid $themeColor;
    }
  }
  .node-input {
    top: #{-2 + $portSize/-2}px;
  }
  .node-output {
    bottom: #{-2 + $portSize/-2}px;
  }
  .node-delete {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    color: $themeColor;
    cursor: pointer;
    background: white;
    border: 1px solid $themeColor;
    border-radius: 100px;
    text-align: center;
    &:hover {
      background: $themeColor;
      color: white;
    }
  }
}
.selected {
  box-shadow: 0 0 0 2px $themeColor;
}
.event {
  border-radius: 100%;
}
.actionRequest {
  width: 160px;
  border-radius: 16px;
  &::before {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #cccccc;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    border-radius: 50%;
    color: green;
    content: "?";
  }
}
.actionAction {
  width: 160px;
  border-radius: 16px;
  &::before {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #cccccc;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    border-radius: 50%;
    color: green;
    content: "!";
  }
}
.condition {
  width: 80px;
  border-radius: 16px;
}
</style>
