<template>
  <div>
    <div class="back">
      <router-link to="/rules">
        <a-icon type="arrow-left" />
      </router-link>
    </div>
    <h2 class="rule-title">{{ rule.title }}</h2>
    <a-layout>
      <a-layout style="min-height: 100vh">
        <simple-flowchart
          :scene.sync="rule"
          style="height: 100vh"
          @showAttr="attrVis = true"
        ></simple-flowchart>
      </a-layout>
      <a-drawer
        title="Инструменты"
        placement="right"
        :closable="true"
        @close="drawerVisible = false"
        :visible="drawerVisible"
        width="40%"
      >
        <div class="drawer__top">
          <h2>События</h2>
          <a-collapse v-model="activeKey1">
            <template slot="expandIcon">
              <img src="/stat/apprules/img/dostup.svg" />
            </template>
            <a-collapse-panel
              header="Доступность товара"
              key="2"
              :disabled="false"
            >
              <li
                @click="addElement('event', 'dostupНет товара на полке (OOSh)')"
              >
                Нет товара на полке (OOSh)
              </li>
              <li @click="addElement('event', 'dostupТовар заканчивается')">
                Товар заканчивается
              </li>
              <li
                @click="
                  addElement('event', 'dostupНет товара в магазине (OOS)')
                "
              >
                Нет товара в магазине (OOS)
              </li>
            </a-collapse-panel>
          </a-collapse>
          <a-collapse v-model="activeKey2">
            <template slot="expandIcon">
              <img src="/stat/apprules/img/pornap.svg" />
            </template>
            <a-collapse-panel header="Порядок на полке" key="1">
              <li @click="addElement('event', 'pornap')">
                Поправить выкладку
              </li>
              <li @click="addElement('event', 'pornap')">
                Проверить срок годности
              </li>
            </a-collapse-panel>
          </a-collapse>
          <a-collapse v-model="activeKey3">
            <template slot="expandIcon">
              <img src="/stat/apprules/img/pravc.svg" />
            </template>
            <a-collapse-panel header="Правильность цен" key="3">
              <li @click="addElement('event', 'pravc')">
                Проверить соответствие цены товара ценнику
              </li>
            </a-collapse-panel>
          </a-collapse>
          <a-collapse>
            <template slot="expandIcon">
              <img src="/stat/apprules/img/trud.svg" />
            </template>
            <a-collapse-panel header="Трудовая дисциплина" key="1">
              <li @click="addElement('event', 'trud')">
                Опоздание на работу
              </li>
              <li @click="addElement('event', 'trud')">
                Простой сотрудника
              </li>
              <li @click="addElement('event', 'trud')">
                Завершение задачи
              </li>
            </a-collapse-panel>
          </a-collapse>
          <a-collapse>
            <template slot="expandIcon">
              <img src="/stat/apprules/img/vremya.svg" />
            </template>
            <a-collapse-panel header="Время обслуживания на кассе" key="1">
              <li @click="addElement('event', 'vremya')">
                Очередь длиннее 2х человек
              </li>
            </a-collapse-panel>
          </a-collapse>
          <a-collapse>
            <template slot="expandIcon">
              <img src="/stat/apprules/img/client.svg" />
            </template>
            <a-collapse-panel header="Вежливое общение с клиентом " key="1">
              <li @click="addElement('event', 'client')">
                Помощь на кассе самообслуживания
              </li>
            </a-collapse-panel>
          </a-collapse>
          <!-- <ul>
            <li @click="addElement('event', 'Поступление события')">
              Поступление события
            </li>
            <li @click="addElement('event', 'Результат проверки/расчета')">
              Результат проверки/расчета
            </li>
            <li @click="addElement('event', 'Результат выполнения задачи')">
              Результат выполнения задачи
            </li>
            <li @click="addElement('event', 'Таймер')">Таймер</li>
          </ul> -->
        </div>
        <div class="drawer__divider"></div>
        <div class="drawer__bottom">
          <h2>Действия</h2>
          <div class="drawer__bottom-left">
            <h4>Автоматизированые</h4>
            <ul>
              <li @click="addElement('actionRequest', 'sql')">
                <span>
                  <img src="/stat/apprules/img/sql.svg" alt="" />
                </span>
                SQL
              </li>
              <li
                style="margin: 8px 0;"
                @click="addElement('actionRequest', 'rpa')"
              >
                <span>
                  <img src="/stat/apprules/img/rpa.svg" alt="" />
                </span>
                RPA
              </li>
              <li @click="addElement('actionRequest', 'openapi')">
                <span>
                  <img src="/stat/apprules/img/openapi.svg" alt="" />
                </span>
                OpenApi
              </li>
            </ul>
            <a-collapse v-model="activeKey6">
              <template slot="expandIcon">
                <img src="/stat/apprules/img/other.svg" />
              </template>
              <a-collapse-panel header="Другие действия">
                <ul>
                  <li
                    @click="
                      addElement(
                        'actionRequest',
                        'Определение категории товара'
                      )
                    "
                  >
                    Определение категории товара
                  </li>
                  <li
                    @click="
                      addElement(
                        'actionRequest',
                        'Расчет времени на выполнение задачи'
                      )
                    "
                  >
                    Расчет времени на выполнение задачи
                  </li>
                  <li
                    @click="
                      addElement(
                        'actionRequest',
                        'Определение свободного времени сотрудника'
                      )
                    "
                  >
                    Определение свободного времени сотрудника
                  </li>
                  <li
                    @click="addElement('actionRequest', 'Отправка сообщения')"
                  >
                    Отправка сообщения
                  </li>
                </ul>
              </a-collapse-panel>
            </a-collapse>
          </div>
          <div class="drawer__bottom-right">
            <h4>Команды</h4>
            <ul>
              <li @click="addElement('actionAction', 'Выполнение задачи')">
                Выполнение задачи
              </li>
              <li @click="addElement('actionAction', 'Принятие решения')">
                Принятие решения
              </li>
            </ul>
          </div>
        </div>
      </a-drawer>
    </a-layout>
    <div class="pallette">
      <span @click="addElement('condition', 'if')">
        <img src="/stat/apprules/img/if.svg" alt="" />
      </span>
      <span @click="addElement('condition', 'and')">
        <img src="/stat/apprules/img/and.svg" alt="" />
      </span>
      <span @click="addElement('condition', 'or')">
        <img src="/stat/apprules/img/or.svg" alt="" />
      </span>
    </div>
    <div class="drawer__trigger" @click="drawerVisible = true">
      <a-icon type="tool" />
    </div>
    <div
      class="attributes"
      v-if="attrVis && (attrState === 'event' || attrState === 'actionRequest')"
    >
      <div class="attributes__source" v-if="attrState === 'event'">
        <span>
          <img src="/stat/apprules/img/osa.svg" alt="" />
          <div>OSA Cloudr</div>
        </span>
        <span>
          <img src="/stat/apprules/img/sap.svg" alt="" />
          <div>SAP</div>
        </span>
        <span>
          <img src="/stat/apprules/img/cv.svg" alt="" />
          <div>CV Cloudr</div>
        </span>
      </div>
      <div class="attributes__period" v-if="attrState === 'event'">
        <h5>Периодичность</h5>
        <a-checkbox>30 мин</a-checkbox>
        <a-checkbox>60 мин</a-checkbox>
      </div>
      <div class="attributes__request" v-if="attrState === 'actionRequest'">
        <span
          ><img src="/stat/apprules/img/sql.svg" alt="" />
          <div>SQL</div>
        </span>
        <span
          ><img src="/stat/apprules/img/openapi.svg" alt="" />
          <div>Open Api</div>
        </span>
        <span
          ><img src="/stat/apprules/img/rpa.svg" alt="" />
          <div>RPA</div>
        </span>
      </div>

      <div class="attributes__close">
        <a-icon type="close" @click="attrVis = false" />
      </div>
    </div>
  </div>
</template>
<script>
import SimpleFlowchart from "@/components/SimpleFlowchart.vue";

export default {
  components: { SimpleFlowchart },
  data() {
    return {
      ruleID: this.$route.params.id,
      drawerVisible: false,
      attrVis: false,
      activeKey1: null,
      activeKey2: null,
      activeKey3: null,
      activeKey4: null,
      activeKey5: null,
      activeKey6: null
    };
  },
  methods: {
    addElement(el, option) {
      this.rule.nodes.push({
        id: this.rule.nodes.length + 1,
        x: -600,
        y: -40,
        type: el,
        label: option
      });
    }
  },
  computed: {
    rule() {
      return this.$store.getters.getRule(this.ruleID);
    },
    attrState() {
      return this.$store.state.rules.attrState;
    }
  },
  mounted() {
    let svg = document.querySelector(".flowchart-container svg");
    svg.setAttribute("height", "100vh");
  }
};
</script>
<style lang="scss">
.rule-title {
  position: absolute;
  top: 0;
  left: 76px;
  z-index: 999;
  background-color: #fff;
  padding: 0 16px;
}
.drawer__trigger {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 24px;
  width: 56px;
  height: 56px;
  z-index: 998;
  cursor: pointer;
}
.drawer__top,
.drawer__bottom {
  height: calc(50% - 24px);

  h2,
  h4 {
    text-align: center;
  }
  h2 {
    grid-area: header;
  }
}
.drawer__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template: 1fr 9fr;
  grid-template-areas: "header header" "bottomLeft bottomRight";
}
.drawer__bottom-left {
  grid-area: bottomLeft;
}
.drawer__bottom-right {
  grid-area: bottomRight;
}
.drawer__divider {
  height: 1px;
  margin: 23px 0 24px;
  background-color: #cccccc;
  grid-area: divider;
}
#stopper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: transparent;
}

ul {
  list-style: none;
}
li {
  cursor: pointer;
}
li:before {
  content: "+";
  margin-right: 4px;
}
.pallette {
  position: fixed;
  bottom: 0;
  left: 76px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  padding: 8px;
  background-color: #ffffff;

  span {
    cursor: pointer;

    img {
      max-width: 64px;
    }
  }
}
.node-type {
  background-color: #000000 !important;
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 333;
}
.attributes {
  position: fixed;
  top: 20%;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 240px;
  height: 480px;
  padding: 16px;
  background-color: #ffffff;

  &__source,
  &__request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
      display: block;
      width: 33%;
      text-align: center;
    }
  }

  &__close {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}
</style>
