<template>
  <div id="app">
    <a-layout style="min-height: 100vh">
      <!-- <a-layout-sider width="50" theme="light">
        <nav id="main-nav">
          <router-link
            v-for="link in navigation"
            :to="link.path"
            :key="link.key"
            class="main-nav__link"
          >
            <a-icon :type="link.icon" />
          </router-link>
        </nav>
      </a-layout-sider> -->
      <a-layout
        :style="
          workarea ? null : { padding: '40px', backgroundColor: '#ffffff' }
        "
      >
        <router-view />
      </a-layout>
    </a-layout>
  </div>
</template>
<script>
export default {
  data() {
    return {
      navigation: [
        {
          icon: "folder",
          path: "/rules"
        },
        {
          icon: "shopping-cart",
          path: "/presets"
        }
      ],
      url: window.location.toString()
    };
  },
  computed: {
    workarea() {
      let url = this.url;
      let result = url.match(/[a-z]{4,6}s\/[a-z]{1,9}\/[0-9]/);
      return result ? result.length > 0 : false;
    }
  },
  watch: {
    $route(to, from) {
      this.url = to.path;
    }
  }
};
</script>
<style lang="scss">
#main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 0;
}
.main-nav {
  &__link {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
}

.node-delete {
  line-height: 10px;
}
.node-type {
  background-color: #000000;
}
</style>
